# Node Dependencies
node_modules/

# OSX Files
.DS_Store

# Editor Configurations
.idea/
.vscode/
.atom/

# Private Configuration Variables
configs/*
.env

# Private API Keys
apikeys.json

# temp files
tmp/

# Omit log files

*.log
